body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
  }
  
  #myH1 {
    font-size: 4rem;
    font-family: "Arial", sans-serif;
    color: hsl(177, 66%, 30%);
  }
  
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
  }
  #display{
    font-family: monospace;
    font-size: 5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
  }
  #controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding:10px 20px;
    margin:5px;
    min-width:125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color:black;
    transition: background-color 1.5s ease;
  }
  #startBtn{
    background-color: greenyellow;
  }
  #startBtn:hover{
    background-color: green;
    transform: scale(1.05);
    z-index: 2;
    color: aliceblue;
  }
  #stopBtn{
    background-color:red;
  }
  #stopBtn:hover{
    background-color: rgb(104, 6, 5);
    transform: scale(1.05);
    z-index: 10;
    color: aliceblue;
  }
  #resetBtn{
    background-color: rgb(128, 23, 193);
  }
  #resetBtn:hover{
    background-color: rgb(26, 0, 42) ;
    transform: scale(1.05);
    z-index: 2;
    color: aliceblue;
  }